*.gz -text
*.png -text
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.toml text eol=lf
**/*_LICENSE text eol=lf
**/py.typed text eol=lf
tests/fixtures/otio/*.otio -text whitespace=-blank-at-eol
tests/fixtures/otio/NOTICE.txt -text whitespace=-blank-at-eol
